<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000022037451-p39n3bp2p5vhcru8o4bdkt0u6n3gpof4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000022037451-p39n3bp2p5vhcru8o4bdkt0u6n3gpof4</string>
	<key>API_KEY</key>
	<string>AIzaSyC2dajXKlwCeSC3MIThpNHmZLxjY5jjPsY</string>
	<key>GCM_SENDER_ID</key>
	<string>1000022037451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.learn.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-852cc</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-852cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000022037451:ios:479ee4d8d4b22bd4a09c4e</string>
</dict>
</plist>